body {
    padding-top: 70px;
}

/* Estilos personalizados para tarjetas */
.card {
    border: 1px solid rgba(255, 255, 255, 0.125);
}

/* Estilos personalizados para badges */
.badge-custom, .badge-custom-secondary, .badge-custom-tools {
    color: #fff;
    font-weight: 500;
}

.badge-custom {
    background-color: #4646e6;
}

.badge-custom-secondary {
    background-color: #303030;
    border: 1px solid #555;
}

.badge-custom-tools {
    background-color: #af42a1;
}

/* Estilos para secciones con margen al hacer scroll */
section[id] {
  scroll-margin-top: 40px;
}